@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
  background-color: #93c9de;
  font-family: 'Noto Sans TC', Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
}
img{
  max-width: 100%;
}
input:focus{
  outline: none;
}

.wrapper{
  /* width: 1680px; */
  margin: auto;
  position: relative;
  overflow: hidden;
}                                             
/* header */
.wrapper>header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 10px 30px;
  box-sizing: border-box;
  transition: .3s;
  /* background-color: #93c9de; */
}
.logo{
  float: left;
  height: 40px;
  width: 350px;
  margin-top: 10px;
}
.m_logo{
  display: none;
}
.menuToggle{
  float: right;
  padding: 0;
}
.menuToggle input{
  display: none;
}
.menuToggle .menu{
  padding: 0;
}
.menuToggle .menu li{
  display: inline-block;
  list-style: none;
  margin: 0 0 0 10px;
  position: relative;
  padding: 0 5px;
}
header .menu li a{
  color: #27569d;
}
@media screen and (min-width:1000px){
  .menuToggle .menu li:after{
    content:'';
    position: absolute;
    width: 0%;
    height: 10px;
    bottom: -5px;
    left: 0;
    background-color: #d6f8ff;
    z-index: -1;
    transition: .2s
  }
  .menuToggle .menu li:hover:after{
    width: 100%;
    transition: .2s
  }
}
@media screen and (max-width: 1100px){
  .logo{
    width: 300px;
  }
}
@media screen and (max-width: 1000px){  
/* hamberger */
.menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  /* top: -7px; */
  /* left: -5px;   */
  cursor: pointer;  
  opacity: 0; 
  z-index: 2;  
  -webkit-touch-callout: none;
}
.menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;  
  top: 14px;
  background: #00307c;
  border-radius: 3px;  
  z-index: 1;  
  transform-origin: 4px 0px;  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
.menuToggle span:first-child{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
.menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

.menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

  .menuToggle .menu{
    position: absolute;
    right: -100vw;
    top: -16px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 18, 95,.99);
    text-align: center;
    transition: .3s;
    padding-top: 60px;
  }
  .menuToggle .menu:before{
    content: '';
    width: 59px;
    height: 60px;
    top: 40px;
    right: 0;
    left: 0;
    background: url(../img/svg/airplane.svg);
    display: block;
    margin: auto;
  }
  .menuToggle .menu li{
    display: block;
    font-size: 22px;
    margin: 30px auto; 
    position: relative;
  }
  .menuToggle .menu li a:after{
    content: '';
    width: 100%;
    height: 10px;
    background-color: #2e4092;
    bottom: 0px;
    left: 0;
    position: absolute;
    display: block;
    z-index: -1;
  }
  .menuToggle .menu li a{
    color: #ffffff;
    position: relative;
    z-index: 1;
    padding: 0 5px;
  }
  .menuToggle input:checked ~ ul{
    right: 0;
  }
}


/* kv */
.keyVisual{
  background: url(../img/note_bg.png) no-repeat top -150px center;
  position: relative;
  height: 800px;
  text-align: center;
  padding-bottom: 200px;
}
.keyVisual #animation_container{
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  top: -55px;
  max-width: 1202px;
}
.keyVisual #animation_container canvas{
  max-width: 1202px;
  max-height: 939px;
}
.keyVisual h1{
  display: none;
}
.subttl{
  display: none;
}
.kvball_area{
  position: absolute;
  z-index: 5;
  bottom: 160px;
  right: 0;
  left: 0;
}
.kv_ball{
  background: radial-gradient(farthest-corner at 100px 80px,#ef7c9f, rgb(237, 21, 86) 60%);
  border-radius: 50%;
  box-shadow:0 0 5px 3px rgba(237,21,86,1);
  display: inline-block;
  text-align: center;
  position: relative;
  transform: scale(0);
}
.kv_ball1{
  margin-right: 70px;
  width: 233px;
  height: 233px;
  animation: ball_intro .3s 1 1.6s, ball_float 3s infinite 1.9s;
}
.kv_ball2{
  margin-left: 70px;
  width: 255px;
  height: 255px;
  animation: ball_intro .3s 1 2.0s, ball_float 3s infinite 2.3s;
}
@keyframes ball_float{
  0% {transform: translateY(-3px)}
  50% {transform: translateY(3px)}
  100% {transform: translateY(-3px)}
}
@keyframes ball_intro{
  0% {transform: scale(0)}
  75% {transform: scale(1.1)}
  78% {transform: scale(1.1)}
  100% {transform: scale(1)}
}
.kv_ball p, .group .group_ball p{
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  margin-top: 60px;
  letter-spacing: 1.2px;
  line-height: 28px;
}
.kvbtn{
  display: block;
  height: 45px;
  background-color: #fff;
  color: #ed1556;
  border-radius: 30px;
  margin: auto;
  line-height: 45px;
  letter-spacing: 3.2px;
  position: relative;
  /* overflow: hidden; */
  z-index: 2;
}
.kvbtn:before{
  content:'';
  position: absolute;
  top: 0;
  display: block;
  width: 160px;
  height: 45px;
  border-radius: 30px;
  box-shadow: 0 0 4px 4px rgba(255,255,255,.8), 0 0 4px 4px rgba(255,255,255,.8) inset;
  animation: expand 1s linear infinite;
}
@keyframes expand{
  0%{ transform:scale(1);opacity:.0; }
  5%{ transform:scale(1);opacity:.8; }
  100%{ transform:scale(1.2);opacity:0; }
}
/* .kvbtn:before{
  content: '';
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #ffd3e5;
  border-radius: 30px;
} */
.kvbtn:hover:before{
  width: 100%;
}
.kvbtn1{
  width: 160px;
}
.kvbtn2, .kvbtn2:before{
  width: 180px;
}
.keyVisual span{
  position: absolute;
}
.kv_img_area{
  width: 1350px;
  position: absolute;
  margin: auto;
  left: 0;right: 0;
  top: 0;
  max-width: 100%;
}
@media screen and (max-width: 900px){
  .kv_img_area{
    display: none;
  }
}
.kvgirl{
  top: 200px;
  left: 0px;
  opacity: 0;
  animation: pic_intro .5s 1 2.5s, girl_move 2s 1 3.5s;
  animation-fill-mode: forwards;
}
.kvtrunk{
  top: 420px;
  left: 0px;
  opacity: 0;
  animation: pic_intro .5s 1 2.5s;
  animation-fill-mode: forwards;
}
.kvboy{
  top: 350px;
  right: -40px;
  opacity: 0;
  animation: pic_intro .5s 1 2.5s,  boy_move 2s 1 3.5s;
  animation-fill-mode: forwards;
}
.kvplane{
  top: 150px;
  right: 60px;
  opacity: 0;
  animation: plane_intro 1.5s 1 3s;
  animation-fill-mode: forwards;
}
.kvcloud1{
  top: 613px;
  left: -265px;
  opacity: 0;
  animation: pic_intro .5s 1 2.5s;
  animation-fill-mode: forwards;
}
.kvcloud2{  
  top: -100px;
  left: 177px;
  opacity: 0;
  animation: pic_intro .5s 1 2.5s;
  animation-fill-mode: forwards;
}
.kvcloud3{
  top: 195px;
  right: -126px;
  opacity: 0;
  animation: pic_intro .5s 1 2.5s;
  animation-fill-mode: forwards;
}

@keyframes pic_intro{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes girl_move{
  0%{transform: translateY(0)}
  20%{transform: translateY(-20px)}
  30%{transform: translateY(0)}
  50%{transform: translateY(-20px)}
  60%{transform: translateY(0)}
  100%{transform: translateY(0)}
}
@keyframes boy_move{  
  0%{transform: rotate(0)}
  10%{transform: rotate(-6deg)}  
  35%{transform: rotate(-6deg)}
  45%{transform: rotate(0)}
  50%{transform: rotate(0)}
  60%{transform: rotate(-6deg)}
  80%{transform: rotate(-6deg)}
  100%{transform: rotate(0)}
}
@keyframes plane_intro{
  0%{opacity: 0; transform:translate(100px, -40px)}
  100%{opacity: 1; transform:translate(0px, 0px)}
}
/* million */
.million{
  background-color: #d6f8ff;
  padding-bottom: 220px;
  text-align: center;
  /* clip-path: polygon(0% 0%, 100% 9%, 100% 100%, 0% 91%); */
  position: relative;
  z-index: 0;
  height: 1046px;
}
.million:before{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -130px;
  border-color: transparent transparent #d6f8ff #d6f8ff;
  border-style: solid solid solid solid;
  border-width: 0px 100vw 130px 0px;
}
.gacha:before{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -130px;
  border-color: transparent transparent #93c9de #93c9de;
  border-style: solid solid solid solid;
  border-width: 0px 100vw 130px 0px;
}
.para{
  width: 100vw;
  position: relative;
}
.para.fixed{
  position: fixed;
  /* top: -292px; */
  bottom: 220px;
}
.million h2{
  width: 325px;
  position: relative;
  top: 100px;
  margin: auto;
  z-index: 5;
  max-width: 95%;
}
.million h2:before{
  content: '';
  position: absolute;
  left: -80px;
  top: -20px;
  background: url(../img/landmark.png);
  width: 70px;
  height: 112px;
}
.million h2:after{
  content: '';
  position: absolute;
  left: -790px;
  top: 90px;
  background: url(../img/svg/waypoint01.svg);
  width: 753px;
  height: 467px;
}
.title_img_m{
  display: none;
}
.formtop{
  background-color: #fff;
  width: 400px;
  max-width: 100%;
  margin: auto;
  border-radius: 10px;
  /* height: 200px; */
  text-align: center;
  position: relative;
}
.formtop:after{
  content: '';
  position: absolute;
  width: 385px;
  height: 4px;
  border-bottom: 2px dashed #ccc;
  bottom: -1px;
  left: 7px;
}
.formtop p{
  color: #00307c;
  font-size: 18px;
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 20px;
  line-height: 28px;
  letter-spacing: 2px;
  margin: 0;
}
.formbody{  
  background-color: #fff;
  width: 400px;
  max-width: 100%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 30px 0 ;
  margin-bottom: 20px;
  position: relative;
  /* z-index: -1; */
}
.formbody:before{
  content: '';
  position: absolute;
  width: 259px;
  height: 488px;
  background: url(../img/million_boy.png);
  bottom: -80px;
  left: -225px;
  z-index: 0;
}
.formbody:after{
  content: '';
  position: absolute;
  width: 267px;
  height: 457px;
  background: url(../img/million_girl.png);
  bottom: -80px;
  right: -115px;
  z-index: 0;
}
.million_area{
  position: absolute;
  width: 750px;
  height: 490px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 100px;
}
.formtop:before{
  content: '';
  position: absolute;
  width: 932px;
  height: 419px;
  background: url(../img/million_cloud.png);
  bottom: -750px;
  left: -250px;
  z-index: -1;
}
.milboy{
  position: absolute;
  left: -50px;
  z-index: 5;
}
.milgirl{
  position: absolute;
  right: 55px;
  bottom: 0;
  z-index: 5;
}
.form-input{
  border-radius: 50px;
  width: 320px;
  height: 52px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 7;
  max-width: 97%;
  position: relative;
}
.input-radio{
  position: relative;
  z-index: 7;
}
.million .form-input{
  border: solid 2px #dcdcdc;
}
.million .form-input span.icon{
  color: #ed1556;
  margin-right: 15px;
  line-height: 40px;
}
.form-input span.icon:before{
  content: '';
  display: inline-block;
  background: url(../img/svg/icon_man.svg);
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 15px;
  margin-left: 7px;
  position: relative;
  top: -1px;
}
.form-input span.plane:before{
  background: url(../img/svg/icon_airplane.svg);
}
.form-input span.phone:before{
  background: url(../img/svg/icon_phone.svg);
}
.form-input span.mail:before{
  background: url(../img/svg/icon_email.svg);
}
.form-input input{
  border:none;
  width: 130px;
  margin-right: 10px;
  background-color: #fff;
}
.input-radio{
  margin-top: 30px;
  color: #00307c;
  font-size: 12px;
  letter-spacing: 1.2px;
}
.input-radio a{
  color: #00307c;
  text-decoration: underline;
}
.input-radio input{
  display: none;
}
.input-radio .radio-label{
  background-color: #eaf4fa;
  border: solid 1px #4869a0;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: .2s;
  top: 2px;
  vertical-align: middle;
}
.input-radio input[type="checkbox"]:checked + label.radio-label:after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #00307c;
  position: absolute;
  top: 6px;
  left: 6px;
  content: '';
}
.input-radio label{
  vertical-align: middle;
}

.btn{
  display: inline-block;
  background-color: #ed1556;
  color: #fff;
  border: none;
  width: 200px;
  height: 45px;
  line-height: 45px;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px;
  letter-spacing: 3.2px;
  text-indent: 3.2px;
  transition: .5s;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.btn:before{
  content: '';
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #e9326b;
  border-radius: 25px;
}
.btn:hover:before{
  width: 100%;
}
.million_plane{
  position: absolute;
  top: 0;
  left: 5%;
}
.million_cloud1{
  position: absolute;
  top: 35%;
  right: 2%;
  animation: updown 3s infinite;
}
.million_cloud2{
  position: absolute;
  top: 50%;
  left: -7%;
}
@keyframes updown{
  0% {transform: translateY(0px)}
  50% {transform: translateY(20px)}
  100% {transform: translateY(0px)}
}
/* gacha */
.gacha{
  text-align: center;
  position: relative;
  padding-top: 75px;
  padding-bottom: 131px;
  background-color: #93c9de;
}
.gacha h2{
  width: 410px;
  margin: auto;
  position: relative;
  z-index: 6;
  max-width: 100%;
}
.gacha h2:before{
  content: '';
  position: absolute;
  left: -80px;
  top: 10px;
  background: url(../img/landmark.png);
  width: 70px;
  height: 112px;
  z-index: 4;
}
.gacha .form_area:after{
  content: '';
  position: absolute;
  left: 0px;
  top: -465px;
  background: url(../img/svg/waypoint02.svg);
  width: 1931px;
  height: 854px;
  z-index: -1;
  transform: rotate(-5deg);
}
.gacha p, .group p{
  color: #00307c;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 2px;
  position: relative;
  z-index: 5;
}
.form_area{
  margin-bottom: 30px;
  position: relative;
  z-index: 3;
}
.gacha .form-input,
.group .form-input{
  border: solid 2px #6cb3cf;
  background-color: #93c9de;
}
.gacha .form-input span.icon,
.group .form-input span.icon{
  color: #00307c;
  margin-right: 20px;
  line-height: 40px;
}
.gacha .form-input input,
.group .form-input input{
  background-color: #93c9de;
}
.gacha .form-input input::placeholder,
.group .form-input input::placeholder{
  color: #6cb3cf;
}
.gacha .form-input span.icon:before,
.group .form-input span.icon:before{
  background: url(../img/svg/icon_man_blue.svg);
}
.gacha .form-input span.phone:before,
.group .form-input span.phone:before{
  background: url(../img/svg/icon_phone_blue.svg);
}
.gacha .form-input span.mail:before,
.group .form-input span.mail:before{
  background: url(../img/svg/icon_email_blue.svg);
}
.gacha .form_btn_area, .million .form_btn_area,
.group .form_btn_area{
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gacha_machine{
  position: absolute;
  top: 40%;
  left: 57%;
  z-index: 3;
}
.gacha_ball01{
  position: absolute;
  top: 70%;
  left: 25%;
  z-index: 0;
}
.gacha_ball02{
  position: absolute;
  top: 46%;
  left: 3%;
  z-index: 0;
}
.gacha_cloud1{
  position: absolute;
  top: 75px;
  left: 16%;
  z-index: 3;
  animation: leftright 5s infinite;
}
.gacha_cloud2{
  position: absolute;
  top: 46%;
  right: -10%;
  z-index: 0;
}
@keyframes leftright{
  0% {transform: translateX(0px)}
  50% {transform: translateX(20px)}
  100% {transform: translateX(0px)}
}

/* waypoint */
.waypoint{
  background-color: #d6f8ff;
  text-align: center;
  margin-bottom: -1px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 140px;
}
.waypoint:before{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -130px;
  border-color: transparent transparent #d6f8ff #d6f8ff;
  border-style: solid solid solid solid;
  border-width: 0px 100vw 130px 0px;
}
.waypoint h2{
  width: 310px;
  margin: auto;
  position: relative;
  max-width: 100%;
  z-index: 5;
}
.waypoint h2:before{
  content: '';
  position: absolute;
  right: -80px;
  top: -50px;
  background: url(../img/landmark.png);
  width: 70px;
  height: 112px;
}
.waypoint h2:after{
  content: '';
  position: absolute;
  right: -838px;
  top: -288px;
  background: url(../img/svg/waypoint03.svg);
  width: 797px;
  height: 384px;
}
.waypoint p{
  color: #00307c;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 30px;
  position: relative;
  z-index: 3;
  margin: 10px 30px;
}
.card_area{
  width: 830px;
  display: flex;
  margin: 30px auto 0;
  justify-content: space-evenly;
  flex-wrap:wrap;
  padding-bottom: 20px;
  max-width: 100%;
  position: relative;
  z-index: 5;
}
.card{
  width: 250px;
  height: 390px;
  background-size: cover;
  margin: 10px 0;
  transition: .2s
}
/* .card:hover{
  transform: translate(-2px, -2px);
  transition: .2s
} */
.card-hk{
  background-image: url(../img/waypoint_HongKong.png) ;
}
.card-FRA{
  background-image: url(../img/waypoint_Frankfurt.png) ;
}
.card-korea{
  background-image: url(../img/waypoint_-Korea.png) ;
}
.card-bangkok{
  background-image: url(../img/waypoint_Bangkok.png) ;
}
.card-AKL{
  background-image: url(../img/waypoint_Auckland.png) ;
}
.card-shanhai{
  background-image: url(../img/waypoint_Shanghai.png) ;
}
.card-LA{
  background-image: url(../img/waypoint_LA.png) ;
}
.card-SIN{
  background-image: url(../img/waypoint_Singapore.png) ;
}
.card-OSA{
  background-image: url(../img/waypoint_Osaka.png) ;
}
.card_content{
  padding-top: 170px;
}
.card_content p{
  font-size: 15px;
  margin: 0;
  color: #000;
  letter-spacing: 1.5px;
}
.card_content h4{
  font-size: 30px;
  letter-spacing: 3px;
  margin: 0px 0 20px;
}
.card_content p.price{
  color: #ed1556;
  font-size: 12px;
}
.card_content p.price span.twd{
  font-size: 18px;
}
.card_content p.price span.number{
  font-size: 26px;
}
.card_btn{
  display: block;
  margin: 15px auto;
  width: 200px;
  height: 45px;
  line-height: 45px;
}
.waypoint_cloud1{
  position: absolute;
  top: 100px;
  left: 28%;
  z-index: 0;
}
.waypoint_cloud2{
  position: absolute;
  top: 150px;
  right: 5%;
  z-index: 0;
  animation: updown 3s infinite;
}
.waypoint_cloud3{
  position: absolute;
  top: 55%;
  left: -25vw;
  z-index: 0;
  animation: gothrough 30s infinite linear;
}
@keyframes gothrough{
  0% {transform: translateX(0)}
  /* 50% {transform: translateX(20px)} */
  90% {transform: translateX(125vw)}
  100% {transform: translateX(125vw)}
}
/* footer */
footer{
  height: 194px;
  background: url(../img/footer.png) center;
  text-align: center;
  position: relative;
}
footer p{
  margin: 0;
  color: #547636;
  position: absolute;
  bottom: 36px;
  right: 0;
  left: 0;
  font-size: 12px;
  line-height: 28px;
}

/* swal */
.swal2-container.swal2-shown{
  background-color: rgba(0,0,0,.75)
}
.swal2-popup{
  font-family: 'Noto Sans TC', Helvetica, sans-serif;
  width: 420px;
  background: none;
}
.swal2-header{
  background-color: #fff;
  border-radius: 12px;
  position: relative;
}
.swal2-header:after{
  content:'';
  position: absolute;
  width: calc(100% - 14px);
  height: 4px;
  border-bottom: 2px dashed #ccc;
  bottom: -1px;
  left: 7px;
}
.swal2-content{
  background-color: #fff;
  border-radius: 8px;
  color: #00307c;
  padding: 20px 20px;
  letter-spacing: 1.8px;
}
.swal2-title{
  margin: 30px 0;
  color: #00307c ;
  font-size: 40px;
}
span.pink{
  color: #ed1556;
}
.calendar{
  margin: 20px;
}
.oops{
  margin: 20px 0 0 0 ;
  position: relative;
  bottom: -26px;
}
button.swal2-confirm.swal2-styled, button.swal2-cancel.swal2-styled{
  background-color: #ed1556 ;
  color: #fff;
  border-radius: 30px;
  margin: 0 20px;
  border: none;
}
button.swal2-confirm.swal2-styled a, button.swal2-cancel.swal2-styled a{
  color: #fff;
}
.swal2-close{
  background-color: #ed1556 ;
  color: #fff;
  border-radius: 0 12px 0 0 ;
  /* position: relative; */
  width: 30px;
  height: 30px;
  overflow: visible;
  line-height: 33px;
}
.swal2-close:before, .swal2-close:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-color: #ed1556 #ed1556 transparent transparent;
  border-style: solid solid solid solid;
  border-width: 0px 30px 30px 0px;
}
.swal2-close:before{
  top: 0;
  left: -30px;
}
.swal2-close:after{
  left: 0;
  bottom: -30px;
}
.swal2-close:hover{
  background-color: #ed1556;
  color: #fff;
}


/* --------------game--------------- */
.game{
  background: url(../img/note_bg.png) no-repeat top -150px center;
  position: relative;
  text-align: center;
  padding-top: 100px;
}
.game h1{
  width: 410px;
  margin: auto;
  position: relative;
  z-index: 5;
  max-width: 95%;
}
.game #animation_container{
  margin: auto;
  position: relative;
  z-index: 2;
}
.game #animation_container{
  margin-top: 40px;
  width: 570px !important;
  height: 570px !important;
}
.game #animation_container canvas{
  width: 570px !important;
  height: 570px !important;
  z-index: 2;
}
.playGacha{
  position: absolute;
  width: 145px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  letter-spacing: 4.5px;
  background-color: #00307c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  top: 732px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .1s;
  z-index: 2;
}
.playGacha:before{
  content:'';
  position: absolute;
  top: 0;
  display: block;
  width: 145px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0 0 4px 4px rgba(255,255,255,.8), 0 0 4px 4px rgba(0,48,124,.8) inset;
  animation: expand 1.5s linear infinite;
}
@keyframes expand{
  0%{ transform:scale(1);opacity:.0; }
  5%{ transform:scale(1);opacity:.8; }
  60%{ transform:scale(1.3);opacity:0; }
  100%{ transform:scale(1.3);opacity:0; }
}
.game .gacha_area{
  position: relative;
}
.egg{
  position: absolute;
  top: 629px;
  left: 0;
  right: 0;
  margin: auto;
  transform: scale(.7);
  /* opacity: 0; */
  display: none;
  transition: 1s;
}
.egg.animate{
  transform: scale(5);
  opacity: 0;
  transition: .5s;
}
.result{
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  background-image: url(../img/game_result0_ball.png);    
  background-repeat: no-repeat;
  background-position: center bottom;
}
.result p{
  color: #00307c;
  font-size: 32px;
  font-weight: 600;
  margin: 10px;
}
.result span.miles{
  color: #d40055;
  font-size: 80px;
  font-weight: 600;
}
.result span.smalltext{
  font-size: 18px;
  line-height: 36px;
  margin-top: 15px;
  display: block;
}
.result span.circle{
  color: #93c9de;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #d40055;
  font-size: 30px;
  line-height: 48px;
  vertical-align: super;
  margin: 10px;
  font-weight: 400;
}
.result .fail{
  font-size: 20px;
  font-weight: 400;
  display: block;
  margin: 10px 0 60px;
}
.result .pink{
  color: #d40055;
}
.btnarea{
  padding-top: 50px;
  padding-bottom: 100px;
}
.result .btn{
  display: inline-block;
  width: 200px; 
  height: 45px;
  line-height: 45px;
}
.machine{
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  width: 570px;
  margin: auto;
  z-index: 0;
}
.twomen{
  position: absolute;
  bottom: 0px;
  left: -753px;
  right: 0;
  margin: auto;
}
.game_egg1{
  position: absolute;
  top: 200px;
  left: 0;
  z-index: 1;
}
.game_egg2{
  position: absolute;
  bottom: 50px;
  right: 0;
}
.game_cloud1{
  position: absolute;
  top: 100px;
  left: 20%;
}
.game_cloud2{
  position: absolute;
  bottom: 50px;
  right: 5%;
}
.game_cloud3{
  position: absolute;
  top: 62%;
  left: -100px;
}

/* ------------- guide ------------ */

.guidewrap, .awardwrap{
  background-image: linear-gradient(#93c9de 35%, #d6f8ff);
}
.guide, .award{
  background: url(../img/note_bg.png) no-repeat top -150px center;
  text-align: center;
  padding-top: 100px;
}
.guide h2{
  position: relative;
  width: 492px;
  margin: auto;
  max-width: 95%;
}
.guide h2:before{
  content: '';
  position: absolute;
  right: -307px;
  top: -20px;
  background: url(../img/note_2man.png);
  width: 278px;
  height: 523px;
  z-index: 5;
}
.guide h2:after{
  content: '';
  position: absolute;
  left: -407px;
  top: 30px;
  background: url(../img/million_airplane.png);
  width: 330px;
  height: 145px;
}
.guide_tabarea{
  width: 750px;
  margin: 70px auto 100px;
  position: relative;
  max-width: 95%;
}
.guide_tabarea:after{
  content: '';
  display: block;
  background: url(../img/svg/waypoint05.svg) no-repeat;
  width: 1741px;
  height: 540px;
  top: -145px;
  left: -482px;
  position: absolute;
}
.guide_tab{
  width: 360px;
  height: 60px;
  display: inline-block;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  z-index: 3;
  max-width: 48%;
}
.guide_tab:after{
  content: '';
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -13px;
  left: 48%;
  border-color: #ed1556 transparent transparent transparent;
  border-style: solid solid solid solid;
  border-width: 15px 6px 0px 6px;
}
.guide_tab1{
  background-color: #ed1556;
}
.guide_tab2{
  background-color: #1c2763;
}
.guide_tab2:after{
  border-color: #1c2763 transparent transparent transparent;
}
.guide_tab_active{
  bottom: 10px;
}
.guide .guide_title{
  width: 310px;
  margin: 50px auto;
}
.guide .guide2 .guide_title{
  width: 550px;
  max-width: 95%;
}
.guide .block{
  width: 900px;
  max-width: 90%;
  margin: auto;
  text-align: left;
  font-size: 15px;
  margin-bottom: 80px;
  color: #2b373b;
}
.guide h3{
  text-align: center;
  color: #1c2763;
  font-size: 30px;
  letter-spacing: 3px;
  text-indent: 3px;
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
}
.guide h3:after{
  content:'';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 10px;
  width: 155px;
  background-color: #d6f8ff;
  z-index: -1;
  margin: auto;
}
.guide .guide1 h3{
  color: #ed1556;
}
.guide .guide1 h3:after{
  background-color: #ffe5f0;
}
.guide h3.rule:after{
  width: 225px;
}
.guide h4{
  color: #27569d;
  font-size: 20px;
  font-weight: 600;
}
.guide .guide2 h4{
  text-align: center;
}
.guide .block p{
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.75px;
}
.guide .block .notice{
  font-size: 13px;
  letter-spacing: 0.65px;
}
.guide .block .notice ul{
  margin-top: 5px;
}
.prize_area{
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
}
.prize_item{
  max-width: 95%;
  margin: 10px 0;
  position: relative;
  background-size: cover;
}
.prize_item1{
  background-image: url(../img/prize_50.png);
}
.prize_item2{
  background-image: url(../img/prize_30.png);
}
.prize_item3{
  background-image: url(../img/prize_6000.png);
}
.prize_item4{
  background-image: url(../img/prize_600.png);
}
.guide .prize_item p.title{
  top: 17px;
  left: 22px;
  color: #fff;
}
.guide .prize_item p{
  font-size: 20px;
  color: #27569d;
  position: absolute;
  top: 43px;
  right: 20px;
}
.guide .prize_item p .num,.guide  .prize_10k p .num{
  font-size: 30px;
  color: #dc063a;
  font-weight: 600;
}
.prize_10k{
  position: relative;
  text-align: center;
  padding-bottom: 150px;
}
.prize_10k:after{
  content: '';
  width: 100%;
  height: 305px;
  background: url(../img/coin.png) no-repeat center center;
  position: absolute;
  top: -65px;
  left: 0;
  right: 0;
  z-index: 0;
}
.prize_10k img{
  position: relative;    
  bottom: 50px;
  left: 135px;
}
.guide .prize_10k p{
  font-size: 20px;
  color: #27569d;
  position: relative;
  top: 64px;
  left: 35px;
  z-index: 2;
}
.guide .block ul{
  padding-left: 20px;
}
.guide .block ul li{
  list-style-type: decimal;
  line-height: 28px;
  font-size: 13px;
  letter-spacing: 0.65px;
}
footer.footer-guide{
  background: url(../img/footer_guide.png) center;
}

/* -----------------award-------------------- */

.award h2{
  position: relative;
  width: 492px;
  margin: auto;
  max-width: 95%;
}
.award h2:before{
  content: '';
  position: absolute;
  right: -350px;
  top: -30px;
  background: url(../img/prize_girl.png);
  width: 323px;
  height: 449px;
}
.award h2:after{
  content: '';
  position: absolute;
  left: -407px;
  top: 30px;
  background: url(../img/million_airplane.png);
  width: 330px;
  height: 145px;
}

.award h3{
  text-align: center;
  color: #1c2763;
  font-size: 30px;
  letter-spacing: 3px;
  text-indent: 3px;
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
}
.award h3:after{
  content:'';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 10px;
  width: 390px;
  background-color: #d6f8ff;
  z-index: -1;
  margin: auto;
}
.award h3.gacha-award:after{
  width: 330px;
}
.award_table{
  margin: auto;
  width: 860px;
  border-collapse: collapse;
}
.award_table thead tr{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.million-table thead.fifty tr{
  background-color: #ed1556;
}
.group-table thead.fifty tr{
  background-color: #e26f07;
}
.award_table thead.fifty tr th{
  border-radius: 12px 12px 0 0;
}
.million-table thead.thirty tr{
  background-color: #eea4c2;
}
.award_table tr:nth-child(even){
  background-color: #ededed
}
.award_table tr:nth-child(odd){
  background-color: #fff
}
.gacha-table thead.fifty tr{
  background-color: #00307c;
}
.gacha-table thead.thirty tr{
  background-color: #5e85c4;
}
.award_table tr td, .award_table tr th{
  padding: 12px 0;
  width: 25%;
}
.award_table tbody:last-child tr:last-child td:first-child{
  border-radius: 0 0 0 12px;
}
.award_table tbody:last-child tr:last-child td:last-child{
  border-radius: 0 0 12px 0;
}
.award_table thead tr th{
  padding: 15px 0;
}
.million-table tbody tr th{
  color: #ed1556;
}
.gacha-table tbody tr th{
  color: #00307c;
}
.group-table tbody tr th{
  color: #f4a434;
}
.gacha-table tr td:nth-child(2),.gacha-table tr th:nth-child(2){
  border-right:solid 1px #ddd;
}
.award .block{
  margin-bottom: 100px;
}
/* .award .tabarea{
  width: 95%;
  overflow-x: scroll;
} */
.award ul{
  display: flex;
  width: 860px;
  padding: 0;
  text-align: center;
  margin: 5px auto;
  justify-content: space-around;
  max-width: 96%;
}
.award ul li{
  list-style: none;
  display: block;
  width: 25%;
}
.week-tab{
  font-size: 20px;
  color: #27569d;
  display: block;
  padding: 5px ;
  border-radius: 5px;
}
.week-tab span{
  font-size: 14px;
}
.week-tab.active{
  background-color: #ed1556;
  color: #fff;
  position: relative;
}
.week-tab.active:after{
  content: '';
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -13px;
  left: 48%;
  border-color: #ed1556 transparent transparent transparent;
  border-style: solid solid solid solid;
  border-width: 15px 6px 0px 6px;
}
.week-tab.disable{
  cursor: default;
  color: #777;
}

/* ---------------group--------------- */
.group{
  background-color: #93c9de;
  position: relative;
  padding-top: 120px;
  text-align: center;
}
.group:before{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -130px;
  border-color:  transparent #93c9de transparent  #93c9de;
  border-style: solid solid solid solid;
  border-width: 130px 100vw 0px 0px;
}
.group h2{
  width: 810px;
  position: relative;
  /* top: 100px; */
  margin: auto;
  z-index: 5;
  max-width: 90%;
}
.group h2:before{
  content: '';
  position: absolute;
  left: 130px;
  top: -30px;
  background: url(../img/landmark.png);
  width: 70px;
  height: 112px;
}
.group h2:after{
  content: '';
  position: absolute;
  left: -882px;
  top: -250px;
  background: url(../img/svg/waypoint04.svg);
  width: 1057px;
  height: 412px;
}
.group_title_m{
  display: none;
}
.group select{
  background-color: #93c9de;
  outline: none;
  border: none;
  width: 130px;
  margin-right: 10px;
  -webkit-appearance: none;
  /* color: #6cb3cf; */
}
.group select option{
  color: #4869a0;
}
.group .form-input span.comp:before{
  background: url(../img/svg/icon_travel_blue.svg);
}
.group .form-input span.date:before{
  background: url(../img/svg/icon_date_blue.svg);
}
.group .form-input span.dest:before{
  background: url(../img/svg/icon_destination_blue.svg);
}
.group .form-input{
  z-index: initial;
}
.groupball_arae{
  margin-top: 50px;
}
.group_ball {
  background: radial-gradient(farthest-corner at 100px 80px,#ef7c9f, rgb(237, 21, 86) 60%);
  border-radius: 50%;
  box-shadow: 0 0 5px 3px rgba(237,21,86,1);
  display: inline-block;
  text-align: center;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 50px;
  animation: ball_float 3s infinite 1.9s;
}
.group_ball2{
  animation: ball_float 3s infinite 1.3s;
}
.group p.info{
  width: 450px;
  margin: 10px auto 20px;
  max-width: 92%;
}
/* .group .form_area:before{
  content: '';
  width: 548px;
  height: 524px;
  position: absolute;
  left: 124px;
  top: -32px;
  background: url(../img/bonus_5man.png);
}
.group .form_area:after{
  content: '';
  width: 394px;
  height: 576px;
  position: absolute;
  right: 124px;
  top: -32px;
  background: url(../img/bonus_2man.png);
} */
img.bonus2 {
  position: absolute;
  left: 65%;
  top: 460px;
}
img.bonus5 {
  position: absolute;
  right: 58%;
  top: 515px;
}
.mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  z-index: 100;
  display: none;
}
.bonus_head{
  position: absolute;
  width: 800px;
  height: 110px;
  border-radius: 10px;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  overflow: hidden;
  max-width: 95%;
}
.bonus_head:after{
  content: '';
  position: absolute;
  width: 785px;
  height: 4px;
  border-bottom: 2px dashed #ccc;
  bottom: -1px;
  left: 7px;
}
.bonus_body{
  position: absolute;
  width: 800px;
  /* height: 300px; */
  padding: 50px 0;
  border-radius: 10px;
  top: calc(20% + 110px);
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  max-width: 95%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.bonus_body a{
  margin: 20px 10px;
}
.bonus_head p{
  font-size: 30px;
  line-height: 50px;
}
.close{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ed1556;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.close:before, .close:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-color: #ed1556 #ed1556 transparent transparent;
  border-style: solid solid solid solid;
  border-width: 0px 30px 30px 0px;
}
.close:before{
  top: 0;
  left: -30px;
}
.close:after{
  left: 0;
  bottom: -30px;
}
.ofh{
  overflow: hidden;
  padding-right: 17px;
}
.totop{
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 50;
  display: none;
  width: 120px;
}
.totop_img_m{
  display: none;
}