<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149919035-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149919035-1', {'page_title': 'award'});
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="authoring-tool" content="Adobe_Animate_CC">
  <!-- facebook share -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="⭐華航線上旅展⭐買機票抽百萬豪哩" />
  <meta property="og:description" content="全航線促銷優惠中" />
  <meta property="og:image" content="https://2019itfchinaairlines.com.tw/img/fb_share.jpg" />
  <meta property="og:url" content="https://2019itfchinaairlines.com.tw/" />
  <!-- favicon -->
  <link rel="icon" href="img/favicon.ico">

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/index.js?1570635412867"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/m_css_layout.css">
  <title>⭐華航線上旅展⭐買機票抽百萬豪哩</title>

</head>
<body>
<div class="wrapper awardwrap" id="app">
  <header>
    <a href="/" class="logo" onclick="gtag('event', 'index_logo',{'event_label' : '首頁-左上角選單按鈕'})">
      <img src="img/svg/logo.svg" alt="">
      <img src="img/svg/logo02.svg" alt="" class="m_logo">
    </a>
    <div class="menuToggle">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
      <ul class="menu">
        <li><a href="index.html#million" onclick="gtag('event', 'navigation_ticket',{'event_label' : '  百萬豪哩遊世界'})">百萬豪哩遊世界</a></li>
        <li><a href="index.html#gacha" onclick="gtag('event', 'navigation_lottery',{'event_label' : '  會員扭扭樂'})">會員扭扭樂</a></li>
        <li><a href="index.html#waypoint" onclick="gtag('event', 'navigation_promotion',{'event_label' : '優惠機票'})">優惠機票</a></li>
        <li><a href="index.html#group" onclick="gtag('event', 'navigation_group',{'event_label' : '團體享好康'})">團體享好康</a></li>
        <li><a href="guide.html" onclick="gtag('event', 'navigation_terms_conditions',{'event_label' : '活動辦法'})">活動辦法</a></li>
        <li><a href="award.html" onclick="gtag('event', 'navigation_award',{'event_label' : '得獎名單'})">得獎名單</a></li>
        <!-- <li><a href="" onclick="gtag('event', 'navigation_program_list',{'event_label' : '旅展活動時間表'})">旅展活動時間表</a></li> -->
      </ul>
    </div>
    <div class="clear"></div>
  </header>
  <section class="award">
    <h2><img src="img/kv_title.png" alt=""></h2>
    <div class="block" >
      <h3 class="million-award">百萬豪哩遊世界 得獎名單</h3>
      <table class="award_table million-table">
        <thead class="fifty">
          <tr><th colspan="4">50萬哩程  共1名</th></tr>
        </thead>
        <tbody>
          <tr>
            <th>會員卡號</th>
            <th>英文姓名</th>
            <th>手機號碼</th>
            <th>備註</th>
          </tr>
          <tr>
            <td>WF25**765</td>
            <td>莊*健</td>
            <td>0920***930</td>
            <td>正取</td>
          </tr>
          <tr>
            <td>WF24**773</td>
            <td>尹*智</td>
            <td>0938***611</td>
            <td>備取</td>
          </tr>
          <tr>
            <td>WD46**883</td>
            <td>周*同</td>
            <td>0917***651</td>
            <td>備取</td>
          </tr>
        </tbody>
        <thead class="thirty">
          <tr><th colspan="4">30萬哩程  共2名</th></tr>
        </thead>
        <tbody>
          <tr>
            <th>會員卡號</th>
            <th>英文姓名</th>
            <th>手機號碼</th>
            <th>備註</th>
          </tr>
          <tr>
            <td>WB38**994</td>
            <td>朱*玄</td>
            <td>0911***060</td>
            <td>正取</td>
          </tr>
          <tr>
            <td>CT29**570</td>
            <td>何*菱</td>
            <td>0928***957</td>
            <td>正取</td>
          </tr>
          <tr>
            <td>WB57**040</td>
            <td>李*興</td>
            <td>0936***385</td>
            <td>備取</td>
          </tr>
          <tr>
            <td>WD44**944</td>
            <td>張*倢</td>
            <td>0928***795</td>
            <td>備取</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="block">
      <h3 class="gacha-award">會員扭扭樂 得獎名單</h3>
      <!-- <div class="tabarea"> -->
        <ul>
          <li>
            <a href="javascript:;" class="week-tab" :class="{'active': week_tab == 'week1'}" @click.prevent="week_tab='week1'">第一週<br><span>(10/18~10/24)</span></a>
          </li>
          <li>
            <a href="javascript:;" class="week-tab" :class="{'active': week_tab == 'week2'}" @click.prevent="week_tab='week2'">第二週<br><span>(10/25~10/31)</span></a>
          </li>
          <li>
            <a href="javascript:;" class="week-tab" :class="{'active': week_tab == 'week3'}" @click.prevent="week_tab='week3'">第三週<br><span>(11/1~11/7)</span></a>
          </li>
          <li>
            <a href="javascript:;" class="week-tab" :class="{'active': week_tab == 'week4'}" @click.prevent="week_tab='week4'">第四五週<br><span>(11/8~11/22)</span></a>
          </li>
        </ul>
      <!-- </div> -->
      <div class="table-area">
        <table class="award_table gacha-table" v-if="week_tab=='week1'">
          <thead class="fifty">
            <tr><th colspan="4">6千哩程  共1名</th></tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="2">會員卡號</th>
              <th colspan="2">英文姓名</th>
            </tr>
            <tr>
              <td colspan="2">WF****636
              </td>
              <td colspan="2">WE**/YU***
              </td>
            </tr>
          </tbody>
          <thead class="thirty">
            <tr><th colspan="4">6百哩程  共60名</th></tr>
          </thead>
          <tbody>
            <tr>
              <th>會員卡號</th>
              <th>英文姓名</th>
              <th>會員卡號</th>
              <th>英文姓名</th>
            </tr>
            <tr>
              <td>WE****420
              </td>
              <td>CH**/YU***
              </td>
              <td>WA****722
              </td>
              <td>YE**/CH***YANG
              </td>
            </tr>
            <tr>
              <td>WD****385
              </td>
              <td>HU**/WE***ING
              </td>
              <td>WA****910
              </td>
              <td>chu ch**g/sh***min
              </td>
            </tr>
            <tr>
              <td>Cb****660
              </td>
              <td>Ch**/Ya***n
              </td>
              <td>WE****496
              </td>
              <td>ts**/pe***ch***
              </td>
            </tr>
            <tr>
              <td>WB****005
              </td>
              <td>LO**/KA***N
              </td>
              <td>WD****544
              </td>
              <td>Ch**/Pe***ang
              </td>
            </tr>
            <tr>
              <td>WF****532
              </td>
              <td>CH**G/YU***HEN
              </td>
              <td>WF****817
              </td>
              <td>CH**/PO***G
              </td>
            </tr>
            <tr>
              <td>WB****860
              </td>
              <td>ch**/KU***UNG
              </td>
              <td>CT****031
              </td>
              <td>YE**/MI***HU***
              </td>
            </tr>
            <tr>
              <td>WB****115
              </td>
              <td>HS**/CH***EI
              </td>
              <td>WB****145
              </td>
              <td>CH**/IC***
              </td>
            </tr>
            <tr>
              <td>WA****498
              </td>
              <td>Ch**/Ye***ng
              </td>
              <td>WE****086
              </td>
              <td>Pa**/Ku***hsin
              </td>
            </tr>
            <tr>
              <td>wb****563
              </td>
              <td>hu**/tz***
              </td>
              <td>WE****442
              </td>
              <td>HU**/WA***
              </td>
            </tr>
            <tr>
              <td>WE****822
              </td>
              <td>LI**/HS***JO***
              </td>
              <td>WB****525
              </td>
              <td>Ye**/Ti***hun
              </td>
            </tr>
            <tr>
              <td>WD****510
              </td>
              <td>CH**/CH***YEN
              </td>
              <td>WD****253
              </td>
              <td>Tu**/Ya***
              </td>
            </tr>
            <tr>
              <td>WF****742
              </td>
              <td>Le**/Ih***
              </td>
              <td>wb****496
              </td>
              <td>ch**/hs***yu
              </td>
            </tr>
            <tr>
              <td>WE****996
              </td>
              <td>CH**/CH***HUNG
              </td>
              <td>WA****517
              </td>
              <td>CH**/YU***HANG
              </td>
            </tr>
            <tr>
              <td>WE****000
              </td>
              <td>CH**/HS***CHIANG
              </td>
              <td>CT****571
              </td>
              <td>LI**/HS***HU
              </td>
            </tr>
            <tr>
              <td>WB****894
              </td>
              <td>CH**/YU***
              </td>
              <td>WB****756
              </td>
              <td>Ch**/Yu***hung
              </td>
            </tr>
            <tr>
              <td>WD****173
              </td>
              <td>YA**/CH***SIUNG
              </td>
              <td>CT****471
              </td>
              <td>YE**/YI***
              </td>
            </tr>
            <tr>
              <td>WB****111
              </td>
              <td>Ch**/Ch***yen
              </td>
              <td>WD****973
              </td>
              <td>CH**/LI***
              </td>
            </tr>
            <tr>
              <td>WE****042
              </td>
              <td>TS**/AN***
              </td>
              <td>WB****475
              </td>
              <td>Ch**/Yi***
              </td>
            </tr>
            <tr>
              <td>WE****911
              </td>
              <td>LI**/YI***G
              </td>
              <td>WB****888
              </td>
              <td>LA**/CH***U
              </td>
            </tr>
            <tr>
              <td>WE****120
              </td>
              <td>LI**/YA***TI***
              </td>
              <td>WB****334
              </td>
              <td>MA**/CH***SUAN
              </td>
            </tr>
            <tr>
              <td>WA****920
              </td>
              <td>CH**/YU***N
              </td>
              <td>WE****437
              </td>
              <td>CH**/KA***N
              </td>
            </tr>
            <tr>
              <td>WB****738
              </td>
              <td>Li**/Sh***yao
              </td>
              <td>WB****472
              </td>
              <td>SH**/TS***FAN
              </td>
            </tr>
            <tr>
              <td>WB****198
              </td>
              <td>CH**G/TZ***I
              </td>
              <td>WB****803
              </td>
              <td>FA**/Gu***in
              </td>
            </tr>
            <tr>
              <td>WB****672
              </td>
              <td>KA**/CH***UAN
              </td>
              <td>WE****701
              </td>
              <td>CH**/CH***EI
              </td>
            </tr>
            <tr>
              <td>WB****815
              </td>
              <td>CH**/TS***YAO
              </td>
              <td>WE****321
              </td>
              <td>CH**/PI***KE***
              </td>
            </tr>
            <tr>
              <td>wa****148
              </td>
              <td>CH**/WA***U
              </td>
              <td>AN****955
              </td>
              <td>Li**/Ye***li***
              </td>
            </tr>
            <tr>
              <td>WE****844
              </td>
              <td>CH**/HS***YU***
              </td>
              <td>CT****710
              </td>
              <td>Ts**/Hu***ng
              </td>
            </tr>
            <tr>
              <td>WB****072
              </td>
              <td>WU**/WA***UN
              </td>
              <td>Wb****945
              </td>
              <td>Ch**/Hu***n
              </td>
            </tr>
            <tr>
              <td>WD****991
              </td>
              <td>ch**/ch***ei
              </td>
              <td>CT****178
              </td>
              <td>ch**/sa***
              </td>
            </tr>
            <tr>
              <td>WB****380
              </td>
              <td>CH**/SH***ING
              </td>
              <td>WB****548
              </td>
              <td>CH**/CH***PERNG
              </td>
            </tr>
          </tbody>
        </table>
        <table class="award_table gacha-table" v-if="week_tab=='week2'">
          <thead class="fifty">
            <tr><th colspan="4">6千哩程  共1名</th></tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="2">會員卡號</th>
              <th colspan="2">英文姓名</th>
            </tr>
            <tr>
              <td colspan="2">WB****996
                </td>
              <td colspan="2">CH**/YI***G
                </td>
            </tr>
          </tbody>
          <thead class="thirty">
            <tr><th colspan="4">6百哩程  共60名</th></tr>
          </thead>
          <tbody>
            <tr>
              <th>會員卡號</th>
              <th>英文姓名</th>
              <th>會員卡號</th>
              <th>英文姓名</th>
            </tr>
            <tr>
              <td>Wb****903</td>
              <td>YA**/CH***HANG</td>
              <td>WF****955</td>
              <td>LI**/MI***U</td>
            </tr>
            <tr>
              <td>WD****860</td>
              <td>Hs**/Yi***hi</td>
              <td>WB****615</td>
              <td>CH**/YU***</td>
            </tr>
            <tr>
              <td>we****822</td>
              <td>hu**/yi***n</td>
              <td>WE****528</td>
              <td>HS**/CH***EI</td>
            </tr>
            <tr>
              <td>WB****760</td>
              <td>LI**/HS***HUAN</td>
              <td>WB****627</td>
              <td>WE**/JO***AO</td>
            </tr>
            <tr>
              <td>WE****538</td>
              <td>LI**/SH***NG</td>
              <td>CT****196</td>
              <td>Ts**/Ya***eng</td>
            </tr>
            <tr>
              <td>WF****382</td>
              <td>HS**/YU***SIA</td>
              <td>CT****265</td>
              <td>LI**/HE***U</td>
            </tr>
            <tr>
              <td>WF****674</td>
              <td>CH**/WE***IN</td>
              <td>WA****228</td>
              <td>CH**/LI***</td>
            </tr>
            <tr>
              <td>WF****721</td>
              <td>Hs**/Hu***</td>
              <td>WD****322</td>
              <td>TS**/YU***N</td>
            </tr>
            <tr>
              <td>Wf****883</td>
              <td>Ch**/Ch***ei</td>
              <td>WE****998</td>
              <td>XI**/JI***NG</td>
            </tr>
            <tr>
              <td>We****845</td>
              <td>Hu**/Yu***</td>
              <td>WE****162</td>
              <td>Ch**/yi***</td>
            </tr>
            <tr>
              <td>WA****266</td>
              <td>CH**/YU***LA***</td>
              <td>WD****447</td>
              <td>Ch**/Yi***heng</td>
            </tr>
            <tr>
              <td>CA****225</td>
              <td>La**/Sz***ang</td>
              <td>WE****447</td>
              <td>Ch**/Su***ng</td>
            </tr>
            <tr>
              <td>WD****671</td>
              <td>Ch**/Ch***Yi</td>
              <td>ck****418</td>
              <td>ch**/ya***g</td>
            </tr>
            <tr>
              <td>WF****127</td>
              <td>YU**/PE***CH***</td>
              <td>WF****234</td>
              <td>Ya**/Sh***n</td>
            </tr>
            <tr>
              <td>WE****721</td>
              <td>LI**/YE***NG</td>
              <td>WD****305</td>
              <td>Ju**/Po***</td>
            </tr>
            <tr>
              <td>WD****210</td>
              <td>Ch**/Ch***ung</td>
              <td>WE****015</td>
              <td>YE**/CH***IN</td>
            </tr>
            <tr>
              <td>WA****891</td>
              <td>Wa**/Yu***n</td>
              <td>WF****530</td>
              <td>KE**/CH***SIUNG</td>
            </tr>
            <tr>
              <td>WF****812</td>
              <td>LI**/ZU***N</td>
              <td>WF****082</td>
              <td>HO**/WE***N</td>
            </tr>
            <tr>
              <td>WB****664</td>
              <td>hs**/ch***ui</td>
              <td>WF****125</td>
              <td>TI**/YU***ING</td>
            </tr>
            <tr>
              <td>WE****273</td>
              <td>CH**/CH***GHAI</td>
              <td>WD****555</td>
              <td>LA**/PE***IEN</td>
            </tr>
            <tr>
              <td>WE****162</td>
              <td>KU**/Ch***hsin</td>
              <td>Wb****213</td>
              <td>Wu**/Pa***uan</td>
            </tr>
            <tr>
              <td>wb****534</td>
              <td>ma**/su***fe***</td>
              <td>WE****458</td>
              <td>CH**G/PO***N</td>
            </tr>
            <tr>
              <td>WE****861</td>
              <td>HS**/CH***UNG</td>
              <td>WA****446</td>
              <td>WU**/LI***U</td>
            </tr>
            <tr>
              <td>We****882</td>
              <td>Ye**/Ch***ung</td>
              <td>WA****915</td>
              <td>Wa**/Jo***e</td>
            </tr>
            <tr>
              <td>WA****985</td>
              <td>TS**/CH***WE***</td>
              <td>WB****884</td>
              <td>WA**/CH***HENG</td>
            </tr>
            <tr>
              <td>WD****513</td>
              <td>Li**/Wa***n</td>
              <td>WF****920</td>
              <td>CH**/HA***</td>
            </tr>
            <tr>
              <td>WE****531</td>
              <td>LI**/YI***EH</td>
              <td>WA****393</td>
              <td>Ch**/Ya***g</td>
            </tr>
            <tr>
              <td>WB****795</td>
              <td>LI**/HS***IN</td>
              <td>WD****292</td>
              <td>Ch**/Tz***i</td>
            </tr>
            <tr>
              <td>WE****852</td>
              <td>Ch**/ya***un</td>
              <td>WD****826</td>
              <td>Fu**/Ch***</td>
            </tr>
            <tr>
              <td>WE****714</td>
              <td>TS**/YO***ING</td>
              <td>WD****120</td>
              <td>Ch**/Tz***</td>
            </tr>
          </tbody>
        </table>
        <table class="award_table gacha-table" v-if="week_tab=='week3'">
          <thead class="fifty">
            <tr><th colspan="4">6千哩程  共1名</th></tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="2">會員卡號</th>
              <th colspan="2">英文姓名</th>
            </tr>
            <tr>
              <td colspan="2">WF****118
              </td>
              <td colspan="2">CH**/B**EN
              </td>
            </tr>
          </tbody>
          <thead class="thirty">
            <tr><th colspan="4">6百哩程  共60名</th></tr>
          </thead>
          <tbody>
            <tr>
              <th>會員卡號</th>
              <th>英文姓名</th>
              <th>會員卡號</th>
              <th>英文姓名</th>
            </tr>
            <tr>
              <td>WF****984</td>
              <td>LE**IANG/CH***U</td>
              <td>WF****808</td>
              <td>ch**/ch***jung</td>
            </tr>
            <tr>
              <td>WF****228</td>
              <td>CH**/YU***A</td>
              <td>WF****505</td>
              <td>CH**/HU***</td>
            </tr>
            <tr>
              <td>WF****495</td>
              <td>HU**/Yi***ie</td>
              <td>HS****277</td>
              <td>Li**/Yi***g</td>
            </tr>
            <tr>
              <td>WD****287</td>
              <td>HU**/CH***ING</td>
              <td>WD****490</td>
              <td>FA**/SH***A</td>
            </tr>
            <tr>
              <td>WE****955</td>
              <td>Ku**/Fa***u</td>
              <td>WB****040</td>
              <td>WE**/CH***CHIEN</td>
            </tr>
            <tr>
              <td>WF****937</td>
              <td>Ch**/Li***an</td>
              <td>WE****200</td>
              <td>WE**/Yi***u</td>
            </tr>
            <tr>
              <td>WF****958</td>
              <td>Li**/Pe***ng</td>
              <td>WF****870</td>
              <td>ch**/si***fong</td>
            </tr>
            <tr>
              <td>WF****813</td>
              <td>HS**/YU***HANG</td>
              <td>WE****745</td>
              <td>La**/Yul*</td>
            </tr>
            <tr>
              <td>SH****531</td>
              <td>DU**/JE***A</td>
              <td>WD****248</td>
              <td>HS**/L*J*</td>
            </tr>
            <tr>
              <td>WA****614</td>
              <td>Ch**/Sh***un</td>
              <td>WD****881</td>
              <td>WA**/WE***NG</td>
            </tr>
            <tr>
              <td>WE****538</td>
              <td>CH**/CH***YI</td>
              <td>WA****755</td>
              <td>Wa**/Liy*</td>
            </tr>
            <tr>
              <td>WE****371</td>
              <td>WU**/HS***U</td>
              <td>WA****010</td>
              <td>CH**/IC***</td>
            </tr>
            <tr>
              <td>WF****665</td>
              <td>SU**/TZ***IN</td>
              <td>WE****046</td>
              <td>WU**/CH***</td>
            </tr>
            <tr>
              <td>WD****532</td>
              <td>Li**/We***iang</td>
              <td>WE****657</td>
              <td>HS**/SH***N</td>
            </tr>
            <tr>
              <td>ct****972</td>
              <td>ch**/we***ng</td>
              <td>WB****447</td>
              <td>LI**/ME***HAN</td>
            </tr>
            <tr>
              <td>WE****670</td>
              <td>YO**HASHI/JU*</td>
              <td>We****846</td>
              <td>Ch**g/Y*che*</td>
            </tr>
            <tr>
              <td>WD****663</td>
              <td>KA**/Hu***hing</td>
              <td>WE****454</td>
              <td>HU**/JI***NG</td>
            </tr>
            <tr>
              <td>WB****544</td>
              <td>LI**/CH***I</td>
              <td>WF****926</td>
              <td>CA**/SH***ING</td>
            </tr>
            <tr>
              <td>WE****101</td>
              <td>LI**/CH***HENG</td>
              <td>WA****887</td>
              <td>HS**/KA***I</td>
            </tr>
            <tr>
              <td>WF****660</td>
              <td>Ch**/Hu*Hu*</td>
              <td>WD****078</td>
              <td>CH**/WE***A</td>
            </tr>
            <tr>
              <td>WE****147</td>
              <td>PA**/JO***</td>
              <td>WE****417</td>
              <td>TS**/CH***U</td>
            </tr>
            <tr>
              <td>WE****150</td>
              <td>Hs**/Pe***n</td>
              <td>WE****645</td>
              <td>Li**/Tz***ng</td>
            </tr>
            <tr>
              <td>WE****696</td>
              <td>YU**/CH***Y*</td>
              <td>WE****374</td>
              <td>FU**/YU***</td>
            </tr>
            <tr>
              <td>WF****343</td>
              <td>LI**/WA***NG</td>
              <td>WF****166</td>
              <td>HU**/NU***</td>
            </tr>
            <tr>
              <td>WE****172</td>
              <td>KU**/PE***N</td>
              <td>We****870</td>
              <td>Fa**/Ch***fang</td>
            </tr>
            <tr>
              <td>WF****611</td>
              <td>LI**/JU***N</td>
              <td>WD****528</td>
              <td>CH**/MI***IN</td>
            </tr>
            <tr>
              <td>WE****533</td>
              <td>KA**/TS*</td>
              <td>we****686</td>
              <td>Hu**/Ya***</td>
            </tr>
            <tr>
              <td>CT****663</td>
              <td>Li**/Sh***choon</td>
              <td>wa****741</td>
              <td>Ch**/S**Hua</td>
            </tr>
            <tr>
              <td>WB****161</td>
              <td>CH**/LI***NG</td>
              <td>WB****274</td>
              <td>HS**/HU***U</td>
            </tr>
            <tr>
              <td>WE****065</td>
              <td>Ch**/y*tin*</td>
              <td>WE****668</td>
              <td>WA**/CH***YANG</td>
            </tr>
          </tbody>
        </table>
        <table class="award_table gacha-table" v-if="week_tab=='week4'">
          <thead class="fifty">
            <tr><th colspan="4">6千哩程  共1名</th></tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="2">會員卡號</th>
              <th colspan="2">英文姓名</th>
            </tr>
            <tr>
              <td colspan="2">AL****852

              </td>
              <td colspan="2">Yu**/S**ansuyueh

              </td>
            </tr>
          </tbody>
          <thead class="thirty">
            <tr><th colspan="4">6百哩程  共60名</th></tr>
          </thead>
          <tbody>
              <tr>
                <th>會員卡號</th>
                <th>英文姓名</th>
                <th>會員卡號</th>
                <th>英文姓名</th>
              </tr>
              <tr>
                <td>WA****973</td>
                <td>CH**/H**P**</td>
                <td>WB****925</td>
                <td>Ya**/c**ngwei</td>
              </tr>
              <tr>
                <td>WB****963</td>
                <td>Ch**/W**ling</td>
                <td>WF****710</td>
                <td>TA**/W**CHIH</td>
              </tr>
              <tr>
                <td>WE****004</td>
                <td>SH**/M**GLUNG</td>
                <td>WE****183</td>
                <td>Ch**/C**ayu</td>
              </tr>
              <tr>
                <td>WE****263</td>
                <td>WA**/C**HCHIA</td>
                <td>WF****462</td>
                <td>ch**/y**en</td>
              </tr>
              <tr>
                <td>WB****436</td>
                <td>Hs**/Y**han</td>
                <td>WE****328</td>
                <td>CH**G/M**GCHIEH</td>
              </tr>
              <tr>
                <td>WF****580</td>
                <td>CH**/C**nsheng</td>
                <td>wf****207</td>
                <td>ts**/l**hin</td>
              </tr>
              <tr>
                <td>WF****216</td>
                <td>HO**/H**ANGLING</td>
                <td>WF****458</td>
                <td>Li**/Y**chen</td>
              </tr>
              <tr>
                <td>WF****727</td>
                <td>LI**/Y**IN</td>
                <td>WE****077</td>
                <td>LO**/M**GC**N</td>
              </tr>
              <tr>
                <td>WF****308</td>
                <td>CH**/M**GC**NG</td>
                <td>WA****281</td>
                <td>PA**/H**NHENG</td>
              </tr>
              <tr>
                <td>WD****352</td>
                <td>TZ**/L**EN</td>
                <td>WF****271</td>
                <td>CH**/K**TANG</td>
              </tr>
              <tr>
                <td>WE****563</td>
                <td>LI**/P**AN</td>
                <td>CT****717</td>
                <td>LO**/L**ELIA</td>
              </tr>
              <tr>
                <td>WF****035</td>
                <td>Ch**/M**chen</td>
                <td>WE****593</td>
                <td>LE**/W**JHEN</td>
              </tr>
              <tr>
                <td>Wb****920</td>
                <td>Yu**/H**nkuo</td>
                <td>WF****205</td>
                <td>LI**/W**HSUEH</td>
              </tr>
              <tr>
                <td>CK****065</td>
                <td>Ly**/J**ung</td>
                <td>WF****653</td>
                <td>Ch**/Y**hun</td>
              </tr>
              <tr>
                <td>WE****252</td>
                <td>YA**UIJU/Y**GHUIJU</td>
                <td>WB****898</td>
                <td>HO**/W**YING</td>
              </tr>
              <tr>
                <td>WE****117</td>
                <td>TS**/F**GCHI</td>
                <td>WE****864</td>
                <td>FU**/K**H**g</td>
              </tr>
              <tr>
                <td>WE****340</td>
                <td>LI**/T**GLI</td>
                <td>WD****235</td>
                <td>CH**/T**IPEI</td>
              </tr>
              <tr>
                <td>We****742</td>
                <td>Ho**/S**fan</td>
                <td>WE****784</td>
                <td>HU**/W**LING</td>
              </tr>
              <tr>
                <td>WF****341</td>
                <td>Hu**wang/H**tzu</td>
                <td>Wa****464</td>
                <td>Wa**/A**ela</td>
              </tr>
              <tr>
                <td>WF****991</td>
                <td>Lu**/A**ieY**Hui</td>
                <td>SM****294</td>
                <td>JA**R/J**FREYB</td>
              </tr>
              <tr>
                <td>WD****915</td>
                <td>LI**/C**EHK**NG</td>
                <td>WD****970</td>
                <td>Hu**/D**tin</td>
              </tr>
              <tr>
                <td>WA****177</td>
                <td>Ch**/J**Chen</td>
                <td>WF****652</td>
                <td>Ch**/J**ru</td>
              </tr>
              <tr>
                <td>WA****846</td>
                <td>Ch**/Y**chen</td>
                <td>WD****303</td>
                <td>FA**IANG/S**HHANG</td>
              </tr>
              <tr>
                <td>WE****036</td>
                <td>LI**/Y**HSI</td>
                <td>WA****030</td>
                <td>Hs**/H**T**g</td>
              </tr>
              <tr>
                <td>WF****835</td>
                <td>CH**/W**SHENG</td>
                <td>WE****216</td>
                <td>LA**/C**AYING</td>
              </tr>
              <tr>
                <td>WF****044</td>
                <td>LI**/C**AYU</td>
                <td>WD****231</td>
                <td>HU**/C**NNING</td>
              </tr>
              <tr>
                <td>WE****365</td>
                <td>CH**G/N**WEN</td>
                <td>WF****982</td>
                <td>YO**/S**AN</td>
              </tr>
              <tr>
                <td>WF****646</td>
                <td>Wa**/I**</td>
                <td>WB****650</td>
                <td>YU**/H**ANGTING</td>
              </tr>
              <tr>
                <td>WF****073</td>
                <td>CH**/G**NHUI</td>
                <td>WB****858</td>
                <td>Ts**/M**yen</td>
              </tr>
              <tr>
                <td>WE****668</td>
                <td>CH**/S**C**N</td>
                <td>WF****121</td>
                <td>CH**/H**NKUEI</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="block" >
      <h3 class="million-award">萬元旅遊抵用金 得獎名單</h3>
      <table class="award_table group-table ">
        <thead class="fifty">
          <tr><th colspan="4">萬元旅遊抵用金　共14名</th></tr>
        </thead>
        <tbody>
          <tr>
            <th>日期</th>
            <th>姓名</th>
            <th>手機號碼</th>
          </tr>
          <tr>
            <td>11/2</td>
            <td>杜*惠</td>
            <td>0963***776</td>
          </tr>
          <tr>
            <td>11/3</td>
            <td>林*宇</td>
            <td>0986***151</td>
          </tr>
          <tr>
            <td>11/4</td>
            <td>潘*蓉</td>
            <td>0966***023</td>
          </tr>
          <tr>
            <td>11/5</td>
            <td>陳*榆</td>
            <td>0939***066</td>
          </tr>
          <tr>
            <td>11/6</td>
            <td>朱*涵</td>
            <td>0983***505</td>
          </tr>
          <tr>
            <td>11/7</td>
            <td>張*芬</td>
            <td>0955***903</td>
          </tr>
          <tr>
            <td>11/8</td>
            <td>楊*媜</td>
            <td>0958***116</td>
          </tr>
          <tr>
            <td>11/9</td>
            <td>洪*芬</td>
            <td>0919***256</td>
          </tr>
          <tr>
            <td>11/10</td>
            <td>黃*芳</td>
            <td>0958***397</td>
          </tr>
          <tr>
            <td>11/11</td>
            <td>陳*涵</td>
            <td>0972***555</td>
          </tr>
          <tr>
            <td>11/12</td>
            <td>洪*欽</td>
            <td>0972***267</td>
          </tr>
          <tr>
            <td>11/13</td>
            <td>郭*</td>
            <td>0931***565</td>
          </tr>
          <tr>
            <td>11/14</td>
            <td>邱*舜</td>
            <td>0937***765</td>
          </tr>
          <tr>
            <td>11/15</td>
            <td>詹*美</td>
            <td>0937***765</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  
  <footer class="footer-guide">
    <p>版權所有 © 中華航空股份有限公司 2019</p>
  </footer>
</div>

</body>
</html>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vuejs-datepicker"></script>
<script src="js/app.js"></script>
<script>
window.onscroll = function() {scrollFunction();};

function scrollFunction() {
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    $('header').css('background-color','#93c9de')    
  } else {
    $('header').css('background','none')
  }
}

AOS.init({
    once: true
});

</script>